@font-face {
  font-family: 'iconfont';  /* project id 224360 */
  src: url('//at.alicdn.com/t/font_tr352iksedygb9.eot');
  src: url('//at.alicdn.com/t/font_tr352iksedygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_tr352iksedygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_tr352iksedygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_tr352iksedygb9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'AvantGarde'; 
    src: url('../font/AVGARDM/AVGARDM.eot');
    src: local('☺'), 
    url('../font/AVGARDM/AVGARDM.woff') format('woff'), 
    url('../font/AVGARDM/AVGARDM.ttf') format('truetype'), 
    url('../font/AVGARDM/AVGARDM.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-tubiaozhizuomoban:before { content: "\e601"; }

.icon-tubiaozhizuomoban1:before { content: "\e602"; }

.icon-tubiaozhizuomoban-copy:before { content: "\e604"; }

.icon-tubiaozhizuomoban2:before { content: "\e605"; }

.icon-tubiaozhizuomoban3:before { content: "\e606"; }

.icon-tubiaozhizuomoban4:before { content: "\e607"; }

.icon-tubiaozhizuomoban5:before { content: "\e608"; }

.icon-tubiaozhizuomoban6:before { content: "\e609"; }

.icon-tubiaozhizuomoban7:before { content: "\e60a"; }

.icon-tubiaozhizuomoban8:before { content: "\e60b"; }

.icon-tubiaozhizuomoban9:before { content: "\e60c"; }

.icon-tubiaozhizuomoban10:before { content: "\e60d"; }

.icon-tubiaozhizuomoban11:before { content: "\e60e"; }

.icon-tubiaozhizuomoban12:before { content: "\e60f"; }

.icon-tubiaozhizuomoban13:before { content: "\e610"; }

.icon-tubiaozhizuomoban14:before { content: "\e611"; }

.icon-tubiaozhizuomoban15:before { content: "\e612"; }

.icon-tubiaozhizuomoban16:before { content: "\e613"; }

.icon-tubiaozhizuomoban17:before { content: "\e614"; }

