<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="JsParamter" value="1"/>
   <add key="IndexPagePkId" value="1"/>
  <add key="PageSize" value="20"/>
  
  

  <add key="UploadFile" value="/UploadFile/"/>
  <!--正式同步请根据同下配置-->
  <!--http://10.173.64.156:8085/platform/services/HR/getStringHRdept-->
  <add key="Third_DepartmentWebServiceUrl" value=""/> 
  
  
  <add key="ZfRole" value="1007"/>
  <add key="DbRole" value="1008"/>


  <!--付款方式-支付代码，工行只能域名，IP报错(正式需切换成域名)-->
  <add key="PaymentHost" value="http://localhost:8771"/>
  <!--支付备注-->
  <add key="PaymentRemark" value="hhh"/>
  <!--支付宝-->
  <add key="AlipayPartner" value="2088121336419794"/>
  <add key="AlipayKey" value="zbhey0o0xngx7hhq7tv7bavjbkp64vrx"/>
  <add key="AlipayNotifyUrl" value="/Payment/AlipayNotify"/>
  <add key="AlipayReturnUrl" value="/Payment/AlipayReturn"/>
  <add key="AlipaySellerEmail" value="13738387078@139.com"/>


  <add key="CmbPayCode" value="3201"/>
  <add key="IcbcPayCode" value="3101"/>
  <add key="CommPayCode" value="3601"/>
  <add key="AlipayCode" value="Alipay"/>
  <add key="TenpayCode" value="Tenpay"/>
  <add key="WechatPayCode" value="WechatPay"/>


  <!--财付通-->
  <add key="Tenpay" value="1"/>
  <add key="TenpayPartner" value="1245607101"/>
  <add key="TenpayKey" value="4cb7a8e5fcc51abb3ccadaf00e725e40"/>
  <add key="TenpayReturnUrl" value="/Payment/TenpayReturn"/>
  <add key="TenpayNotifyUrl" value="/Payment/TenpayNotify"/>


  <!--微信-->
  <add key="WechatAppID" value="wxcc20425e17550ed7" />

  <!--可以去掉-->
  <add key="WechatAppSecret" value="39095c39989c22b0cdfae80b96d0220b" />

  <add key="WechatMCHID" value="1423465802" />
  <!--商户号-->               
  <add key="WechatKey" value="Zjbinya2017Zjbeiou8505020571sgpj" />
  <add key="WechatNotifyUrl" value="/Payment/WechatPayNotify" />
  <add key="WechatIP" value="192.168.85.68" />
  
  



  <!--页面内容定制-->
  <add key="PageSet_Guide" value="13"/>
  
  
  
</appSettings>