/DB/NewB2CMall.ldf
/DB/NewB2CMall.mdf
/Project.OpenApi/bin
/Project.WebApplication/bin
/Project.Wap/bin
/Project.Map/bin
/Project.Model/bin
/Project.Repository/bin
/Project.Service/bin
/Project.Application.Service/bin
/Project.Application.OpenApiService/bin
/Project.Config/bin
/Project.Infrastructure.FrameworkCore/bin
/Project.Infrastructure.FrameworkCore.Payment/bin
/TimeTask/SW.TimerTask.WinFrom/bin
/Project.WebSite/bin
/Project.AdminUi/bin
/Project.BusinessWebSite/bin
/Project.OpenApiTest/bin
/Project.Model/obj
/Project.OpenApi/obj
/Project.OpenApiTest/obj
/Project.Repository/obj
/Project.Service/obj
/Project.Wap/obj
/Project.Application.OpenApiService/obj
/TimeTask/SW.TimerTask.WinFrom/obj
/Project.WebApplication/obj
/Project.WebSite/obj
/Project.AdminUi/obj
/Project.Application.Service/obj
/Project.BusinessWebSite/obj
/Project.Config/obj
/Project.Infrastructure.FrameworkCore.Payment/obj
/Project.Infrastructure.FrameworkCore/obj
/Project.Map/obj
/.vs/CommonFramework/v15/Server/sqlite3/storage.ide-wal
/.vs/CommonFramework/v15/Server/sqlite3/storage.ide-shm
/.vs/CommonFramework/v15/Server/sqlite3/storage.ide
/.vs/CommonFramework/v15/Server/sqlite3/db.lock
/Project.WebApplication/Logs
