
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link href="~/Resource/user/css/user.css" rel="stylesheet" />
    <link href="~/Resource/css/Site.css" rel="stylesheet" />
}

<div class="container clearfix">
    <div class="user-content clearfix">
        <div class="aside-l fl clearfix">
            @Html.Partial("_MenuBar", "修改密码")
        </div>
        <div class="aside-r fl clearfix">
            <div class="our-main">
                <div class="our-record">
                    <div class="our-tit">
                        <span class="our-nav active">修改密码</span>
                    </div>
                    <div class="our-content our-item">
                        <table class="mtable" style="text-align: left">
                            <tr>
                                <td style="width: 100px">旧密码</td>
                                <td><input type="password" value="" id="OldPassword" /></td>
                            </tr>

                            <tr>
                                <td>新密码</td>
                                <td><input type="password" value="" id="NewPassword" /></td>
                            </tr>

                            <tr>
                                <td>确认密码</td>
                                <td><input type="password" value="" id="ConfirmNewPassword" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="确认" id="btn_ConfirmPassword" class="btn" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="our-content our-item hide">

                    </div>
                    <div class="our-content our-item hide">

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    
    $("#btn_ConfirmPassword").click(function () {

        if ($("#NewPassword").val()=="") {
            layer.alert("新密码不能为空", { time: 1000 });
            return;
        }

        if ($("#NewPassword").val() != $("#ConfirmNewPassword").val()) {
            layer.alert("新密码和确认密码必须相同", { time: 1000 });
            return;
        }


        var postData = { oldPassword: $("#OldPassword").val(), newPassword: $("#NewPassword").val() };
        var result = false;
        $.ajax({
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            url: "/UserCenter/ChangePassword",
            data: JSON.stringify(postData),
            cache: false,
            async: false,
            success: function (data) {
                if (data.success) {
                    layer.alert("修改成功", { time: 1000 });
                } else {
                    layer.alert(data.error.message);
                }
            }
        });


    });
</script>



