<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="JsParamter" value="1"/>
   <add key="IndexPagePkId" value="1"/>
  <add key="PageSize" value="20"/>

  <add key="host" value="http://a6392577.xicp.net"/>

  <add key="UploadFile" value="/UploadFile/"/>
  <!--正式同步请根据同下配置-->
  <!--http://10.173.64.156:8085/platform/services/HR/getStringHRdept-->
  <add key="Third_DepartmentWebServiceUrl" value=""/> 
  
  
  <add key="ZfRole" value="1007"/>
  <add key="DbRole" value="1008"/>


  <!--付款方式-支付代码，工行只能域名，IP报错(正式需切换成域名)-->
  <add key="PaymentHost" value="http://localhost:8771"/>
  <!--支付备注-->
  <add key="PaymentRemark" value="hhh"/>
  <!--支付宝-->
  <add key="AlipayPartner" value="2088121336419794"/>
  <add key="AlipayKey" value="zbhey0o0xngx7hhq7tv7bavjbkp64vrx"/>
  <add key="AlipayNotifyUrl" value="/Payment/AlipayNotify"/>
  <add key="AlipayReturnUrl" value="/Payment/AlipayReturn"/>
  <add key="AlipaySellerEmail" value="13738387078@139.com"/>


  <add key="CmbPayCode" value="3201"/>
  <add key="IcbcPayCode" value="3101"/>
  <add key="CommPayCode" value="3601"/>
  <add key="AlipayCode" value="Alipay"/> 
  <add key="AlipayMobileCode" value="Alipay01"/>
  <add key="TenpayCode" value="Tenpay"/>
  <add key="WechatPayCode" value="WechatPay"/>


  <!--财付通-->
  <add key="Tenpay" value="1"/>
  <add key="TenpayPartner" value="1245607101"/>
  <add key="TenpayKey" value="4cb7a8e5fcc51abb3ccadaf00e725e40"/>
  <add key="TenpayReturnUrl" value="/Payment/TenpayReturn"/>
  <add key="TenpayNotifyUrl" value="/Payment/TenpayNotify"/>


  <!--微信-->
  <add key="WechatAppID" value="wxcf50c0c654faa3c5" />
  <add key="WechatAppSecret" value="4694d8972c6ea0ade1cc4d0740d39338" />

  <!--商户号-->
  <add key="WechatMCHID" value="1453425302" />
  <add key="WechatKey" value="qwertyuiopasdfghjklzxcvbnm123456" />
  
  <add key="WechatNotifyUrl" value="/Payment/WechatPayNotify" />
  <add key="WechatIP" value="192.168.85.68" />


  <add key="WechatPayLogLevel" value="1" />
  <add key="PaymentRemark" value="InkIvy"/>



  <!--银联-->

  <add key="ChinaPayCode" value="4002"/>
  <!-- 支付代码由ROM后台决定，先临时取一个 -->
  <add key="ChinaPayMerId" value="777290058110048"/>
  <!-- 签名证书路径 acp_test.sign.pfx-->
  <add key="sdk.signCert.path" value="D:\\bank_II\\ChinaPay\\certs\\acp_test_sign.pfx" />
  <!-- 签名证书密码 -->
  <add key="sdk.signCert.pwd" value="000000" />
  <!-- 签名证书类型 -->
  <add key="sdk.signCert.type" value="PKCS12" />
  <!-- 加密证书路径 -->
  <add key="sdk.encryptCert.path" value="D:\\bank_II\\ChinaPay\\certs\\acp_test_verify.cer" />
  <!-- 验签证书目录 -->
  <add key="sdk.validateCert.dir" value="D:\\bank_II\\ChinaPay\\certs\\" />
  <!-- 前台交易地址 -->
  <add key="sdk.frontTransUrl" value="https://101.231.204.80:5000/gateway/api/frontTransReq.do" />
  <!-- 后台交易地址 -->
  <add key="sdk.backTransUrl" value="https://101.231.204.80:5000/gateway/api/backTransReq.do" />
  <!-- 交易状态查询地址 -->
  <add key="sdk.singleQueryUrl" value="https://101.231.204.80:5000/gateway/api/queryTrans.do" />
  <!-- 文件传输类交易地址 -->
  <add key="sdk.fileTransUrl" value="https://101.231.204.80:9080/" />
  <!-- 批量交易地址 -->
  <add key="sdk.batTransUrl" value="https://101.231.204.80:5000/gateway/api/batchTrans.do" />
  <!-- 有卡交易地址 -->
  <add key="sdk.cardRequestUrl" value="https://101.231.204.80:5000/gateway/api/cardTransReq.do" />
  <!-- app交易地址 手机控件支付使用该地址-->
  <add key="sdk.appRequestUrl" value="https://101.231.204.80:5000/gateway/api/appTransReq.do" />
  <!-- 前台通知地址，填写后台接收银联前台通知的地址 -->
  <add key="frontUrl" value="http://localhost:10141/Trading/Payment/ChinaPayReturn" />
  <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
  <add key="backUrl" value="http://www.inkivy.com/Trading/Payment/ChinaPayNotify" />
  <!-- 是否验证服务器https证书 -->
  <add key="ifValidateRemoteCert" value="false" />


  <!--##########################以下为缴费产品的配置，其他产品接入时可无视#############################-->
  <!-- 前台交易地址 -->
  <add key="sdk.jf.frontTransUrl" value="https://101.231.204.80:5000/jiaofei/api/frontTransReq.do" />
  <!-- 后台交易地址 -->
  <add key="sdk.jf.backTransUrl" value="https://101.231.204.80:5000/jiaofei/api/backTransReq.do" />
  <!-- 交易状态查询地址 -->
  <add key="sdk.jf.singleQueryUrl" value="https://101.231.204.80:5000/jiaofei/api/queryTrans.do" />
  <!-- 有卡交易地址 -->
  <add key="sdk.jf.cardRequestUrl" value="https://101.231.204.80:5000/jiaofei/api/cardTransReq.do" />
  <!-- app交易地址 手机控件支付使用该地址-->
  <add key="sdk.jf.appRequestUrl" value="https://101.231.204.80:5000/jiaofei/api/appTransReq.do" />

  <!--客户端上传文件使用，请勿随意更改-->
  <add key="UploadFileToken" value="c490f7f2b5314c51ab41c5c2ef82e2a0"/>
  <add key="UploadFileKey" value="d55748e86b4d4cd7be5fec17d73377e6"/>
  <add key="AllowDirectorys" value="Assets/themes/default/images,Assets/themes/default/img,TAOUploadFile/,UploadFile"/>
  <!--客户端上传文件使用，请勿随意更改-->
  
  


  <!--页面内容定制-->
  <add key="PageSet_Guide" value="13"/>
  
  
  
</appSettings>