
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    
</head>
<body>
<div>
    <input id="btn_Login" name="xxxxxxxxxxxx" type="button"/>
</div>
    <script type="text/javascript">

        $("#btn_Login").click(
               function () {

                   var postData = { LoginName: "", Password: "" };

                   $.ajax({
                       dataType: 'json',
                       type: 'POST',
                       contentType: 'application/json',
                       url: "/api/Author/Login",
                       data: JSON.stringify(postData),
                       cache: false,
                       async: false,
                       success: function (data) {
                           alert(JSON.stringify(data));



                       }
                   });

                   return;
               }
           );

    </script>
</body>

</html>
