
@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>电商平台</title>
    <link href="/Login/styles.css" type="text/css" media="screen" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/pro/submitKit.js"></script>
    <script src="/Scripts/pro/bindKit.js"></script>
    <script src="/Scripts/pro/commonKit.js"></script>
    <script src="~/Scripts/pro/abp.jquery.ajax.js"></script>
    <script src="~/Scripts/pro/controlKit.js"></script>
    <script src="/Scripts/jqueryPlugins/jquery_json/Json.js"></script>
    <script src="/Scripts/pro/base64.js"></script>

    <script src="~/Scripts/Login/Login.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>

</head>
<body id="login">
    <form>
        <div id="wrappertop">
        </div>
     
        <div id="wrapper">
            <div id="content">
                <div id="header">
                    <h1>
                        <a href="">
                        </a>
                    </h1>
                </div>
                <div id="darkbanner" class="banner320">
                    <h2>
                        ROM
                    </h2>
                </div>
                <div id="darkbannerwrap">
                </div>
                <fieldset class="form">
                    <p>
                        <label class="loginlabel" for="UserCode">
                            用户名:
                        </label>
                        <input class="logininput required" name="UserCode" id="UserCode" type="text" />
                    </p>
                    <p>
                        <label class="loginlabel" for="Password">
                            密码:
                        </label>
                        <span>
                            <input class="logininput required" name="Password" id="Password" type="password" />
                        </span>
                    </p>

                    <button type="button" class="positive" name="Submit" id="btn_Login">
                        <img src="/Login/key.png" alt="Announcement" />Login
                    </button>
                </fieldset>
            </div>
        </div>
        <div id="wrapperbottom_branding">
            <div id="wrapperbottom_branding_text">
            </div>
        </div>
    </form>
</body>
</html>
