@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>交通银行网上支付</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
<script type="text/javascript">
    window.location.href = "/Order/List";
</script>