
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script src="~/Scripts/Account/ForgetPassword.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
<link rel="stylesheet" href="/Resource/register/css/forgetpassword.css">
}

<div class="forgetpassword-content">
    <div class="container clearfix">
        <div class="forgetpassword-tit">密码找回</div>
        <!--找回密码步骤-->
        <div class="steps">
            <ul>
                <li >用户名填写<span></span></li>
                <li>身份验证<span></span></li>
                <li>设置新密码<span></span></li>
                <li class="active">设置成功<span></span></li>
            </ul>
        </div>
        <div class="setok-main">
            <div class="setok-row">
                <span class="iconfont icon-chenggong"></span>
                <span class="setok-text">恭喜密码重置成功！</span>
            </div>
            <div class="setok-row">
                <a class="login-b" href="/Account/Login">[立即登录]</a>
                <a class="index-back" href="/Home/index">[返回首页]</a>
            </div>
        </div>
    </div>
</div>




