
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script src="~/Scripts/Account/ForgetPassword.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
<link rel="stylesheet" href="/Resource/register/css/forgetpassword.css">

}



<div class="forgetpassword-content">
    <div class="container clearfix">
        <div class="forgetpassword-tit">密码找回</div>
        <!--找回密码步骤-->
        <div class="steps">
            <ul>
                <li class="active">用户名填写<span></span></li>
                <li>身份验证<span></span></li>
                <li>设置新密码<span></span></li>
                <li>设置成功<span></span></li>
            </ul>
        </div>
        <form action="">
            <div class="form_group">
                <label>新密码</label>
                <input type="password" value="" id="NewPassword" /><input type="text" value="@ViewBag.Key" id="key" style="display: none" />
            </div>
            <div class="form_group">
                <label>确认密码</label>
                <input type="password" value="" id="NewPasswordConfirm" />
            </div>
            <button class="btn_gray" type="button" id="btn_Step3">下一步</button>
            <button class="btn_white" type="button" onclick="javascript: window.location.href = '/Account/Login'">取 消</button>
        </form>

    </div>
</div>










