




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutList2.cshtml";
}

@section JavaScript{
   
}
<div region="west" split="true" title="左侧" style="width:300px;" border="false">
   <iframe id="iframe_PageContentCategory" name="iframe_PageContentCategory" src="/ContentManager/PageContentCategory/List2" scrolling="no" frameborder="0"  style="width:100%;"></iframe>
</div>
<div region="center" title="右侧" id="center" border="false">

    <iframe id="iframe_PageContent" name="iframe_PageContent" src="/ContentManager/PageContent/List" scrolling="no" frameborder="0" style="width: 100%;"></iframe>

</div>


<script type="text/javascript">
    $("#iframe_PageContentCategory").css("height", $(window).height() - 56);
    $("#iframe_PageContent").css("height", $(window).height() - 56);
</script>

